.header-style1 {
    background-color: #AFE1F8 !important; 
}

.header-style2 {
    background-color: #F1F9FE !important; 
}

.header-style3 {
    background-color: #FCD8C6 !important;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('bckgrng.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: #888888;
}

h1 {
    font-size: 48px;
    color: #0B589C;
    margin-bottom: 10px;
}



.boards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.board {
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}



.blue {
    color: #0B589C; 
}




.grid {
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: repeat(11, 40px);
    border: 1px solid #888888;
}







.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #ccc; /* Adds border to each header cell */
}





/* Styles for "My Fleet" headers and cells */
.my-fleet .header {
    background-color: #AFE1F8; /* Light blue for "My Fleet" */
}



.cell {
    background-color: #E6F7FF;
    border: 1px solid #ccc;
}




.cell-style-1 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}

.cell-style-2 {
    background-color: #E3F5FE;
    border: 1px solid #ccc;
}

.cell-style-3 {
    background-color: #F1F9FE;
    border: 1px solid #ccc;
}


.logo {
    text-align: left;
}




.ship {
    background-color: #A9A9A9; /* Grey for ships */
}








.placement-board {
    height: 440px;
    width: 440px;
    align-items: left;
}



.ship-placement-grid {
    display: flex;
    flex-direction: column;
    align-items: left;
    
}





.ship-grid {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(4, 40px);
}












/* SHIPS LEFT */
.ship-status .ship {
    height: 40px;
}

.ships-left {
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
}

.ship1 {
    width: 40px;
    background-color: #A9A9A9;
    height: 40px;
}
.ship2 {
    width: 80px;
    background-color: #A9A9A9;
    height: 40px;
}
.ship3 {
    width: 120px;
    background-color: #A9A9A9;
    height: 40px;
}
.ship4 {
    width: 160px;
    background-color: #A9A9A9;
    height: 40px;
}

.ship-not-avaible {
        background-color: #111 !important;
}

.shipplacement {
        width: 400px;
}


/*
.dot {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.dot {
  position: relative;
}

.dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}



#rotateButton {
    background: url('/media/rotate-btn.svg') no-repeat center center;
    background-size: contain; /* Ensures the SVG scales to fit */
    border: none;
    width: 40px; /* Adjust to match the SVG size */
    height: 40px; /* Adjust to match the SVG size */
    cursor: pointer;
    margin-top: 10px;
}

#rotateButton:hover {
    background-color: #074578;
}









#confirmButton {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: gray;
    color: white;
    border: none;
    cursor: not-allowed;
}

#confirmButton.enabled {
    background-color: #0B589C;
    cursor: pointer;
}